<div class="columns">
  <div id="add-email" class="column is-4 is-offset-4">
    <h2 class="title is-2">Add Email</h2>
    <%= form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
      <% if @show_errors && current_user.errors.any? %>
        <div id="error_explanation">
          <% current_user.errors.full_messages.each do |msg| %>
            <%= msg %><br>
          <% end %>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control has-icons-left">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <p class="help-block">Please enter your email address. No spam.</p>
      </div>

      <div class="actions">
        <%= f.submit 'Continue', class: "button is-primary" %>
      </div>
    <% end %>
  </div>
</div>