<div class="columns">
  <div class="column is-4 is-offset-4">
    <h2 class="title is-2"> Create a new Event </h2>
    <%= form_for(@event) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="field">
        <%= f.label :name, class: "label" %>
        <div class="control">
          <%= f.text_field :name, placeholder: "Event Name...", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :location, class: "label" %>
        <div class="control">
          <%= f.text_field :location, placeholder: "Hanoi, Vietnam...", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Register from", class: "label" %>
        <div class="control">
          <%= f.datetime_field :registration_start, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Till", class: "label" %>
        <div class="control">
          <%= f.datetime_field :registration_end, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Event from", class: "label" %>
        <div class="control">
          <%= f.datetime_field :event_start, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Till", class: "label" %>
        <div class="control">
          <%= f.datetime_field :event_end, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Short description", class: "label" %>
        <div class="control">
          <%= f.text_field :short_desc, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label "Long description", class: "label" %>
        <div class="control">
          <%= f.text_area :long_desc, class: "input", id: "long-desc" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= f.submit "Create Event", class: "button is-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>