<!DOCTYPE html>
<html>
  <head>
    <title>EventWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div id="flash">
      <% flash.each do |key, value| %>
        <%= content_tag :div, class: "notification is-#{key}" do %>
          <button class="delete" onclick="$('#flash').hide()"></button>
          <%= value %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
